<article class="about">
<h3>Book Collection app was created as First Project during my CodeClan adventure.</h3>
<h3>Four weeks ago wouldnt even know where to start. And look!
  I managed somehow to put tohether OOP in Ruby, TDD, PSQL, HTML/CSS with Sinatra tunes.
  The RESTful app you are just browsing through is based on MVC architecture.
  Did I mention instructors? Thanks to them for teaching me what those fancy words mean.
  It is pretty exciting that very soon I will be able to add many updates to this app.</h3>
</article>
