<p>Welcome in your book collection</p>

  <p>You have <%= @books.count %> books in your library</p>
  <form class="" action="/collection" method="post">
  <input type="submit" name="View them" value="View them">
</form>
<p>or add a new book</p>
<form class="" action="/new" method="post">
  <input type="submit" name="Add book" value="Add book">
</form>
