<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>📖Library</title>
  </head>
  <body>
    <a href="/home" method = "get" class = "button">Home Page</a>

    <%= yield %>
  </body>
  <footer> <a href="/about" method = "get" class = "button">About the project</a></footer>
</html>
