table {

  width: 90%;
  text-align: left;
  border: 1px solid grey;
}
th, td, tr {
  padding: 5px 5px;
  color: black;
  border: 1px solid grey;
  border-collapse: collapse;
}
tr:hover {
  background-color: var(--my-green-light);
}
