<h2>You are now the admin. You can view, add and edit all Book Collection users</h2>
<form action="/admin/new" method="get">
  <input type="submit" value="Add New User">
</form></td>
<table>
  <tr>
    <th>User Name</th>
    <th>Number of Books</th>
    <th>Details</th>
  </tr>
  <% for user in @users %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.books.count %></td>
    <td>
      <form class="" action="/admin/<%= user.id %>/collection" method="get">
        <input type="submit" name="" value="See all books">
      </form>
      <form action="/admin/<%= user.id %>/delete" method="post">
        <input type="submit" value="Delete">
        </form>
      </tr>
      <% end %>
    </table>
