<fieldset>
  <legend>Add New User</legend>
<form class="" action="/admin/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="">
  <input type="submit" name="" value="Add User">
</form>
</fieldset>
